<!-- Navigation Header -->
<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <a href="/"><h1>Job Application Helper</h1></a>
    </div>
    <nav class="main-nav">
      <ul>
        <li>
          <a
            href="/scrape"
            class="nav-button {% if active_page == 'scrape' %}active{% endif %}"
            >Scraper</a
          >
        </li>
        <li>
          <a
            href="/jobs?days_ago=1"
            class="nav-button {% if active_page == 'jobs' %}active{% endif %}"
            >Job Listings</a
          >
        </li>
        <li>
          <a
            href="/profile"
            id="profile-button"
            class="nav-button {% if active_page == 'profile' %}active{% endif %}"
            >Profile</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
